table{
    border: 2px solid rgb(141, 46, 141);
    border-collapse: collapse;
}
th, td, tr{
    border: 2px solid black;
}

caption{
    border: 2px solid black;
}
.rojo{
    background-color: red;
}
.verde{
    background-color: rgb(94, 196, 94);
}