table{
    border: 1px solid purple;
    border-collapse: collapse;
}
th, td{
border: 2px solid palevioletred;
}

caption{
    border: 2px solid pink;
}
.rojo{
    background-color: red;
}
.verde{
    background-color: rgb(94, 196, 94);
}